@model NoticiasWeb.Models.ViewModels.IndexViewModel
@{
    Layout = "Layout";
}

<form action="~/Home/Index" method="GET">
    <input name="search" type="text" value="@(Model.Search)"/>
    <input type="submit" value="buscar"/>
</form>

<nav class="desplegable">

    <label for="checkdesplegable"><i class="fa fa-bars"></i></label>
    <input type="checkbox" id="checkdesplegable" />

    <div class="panel">
        <ul>
            @foreach (var cat in Model.Categorias)
            {
            <li><a href="#"> @(cat.Nombre)  </a></li>
            }
        </ul>
    </div>

</nav>


<ul>
            @foreach (var cat in Model.Noticias)
            {
            <li><a href="~/Ver/@(cat.Id)"> @(cat.Titulo)  </a></li>
            }
</ul>