html {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}
header {
    width: 100%;
    height: 5.5vw;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
}
    header div {
        display: flex;
        flex-direction: column;
    }
    header h1 {
        color: #FFFFFF;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        margin-left: 3vw;
    }
    header p {
        color: #FFFFFF;
        margin-top: 0vw;
        margin-left: 1.5vw;
    }


.nombre {
    color: white;
    display: block;
    line-height: 30px;
    text-decoration-line: none;
}

    .nombre:hover {
        color: #6d6d6d;
        line-height: 30px;
   }


body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 7vw;
}
    .noti {
        margin-left: 3vw;
    }

body form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}
    body form input {
        height: 1vw;
        width: 10vw;

    }
body form input:last-child {
    height: 1.4vw;
    width: 5vw;
    margin-top: 0.5vw;
}

.mostradorTarjetas {
    display: flex;
    flex-wrap: wrap;
}

.Cardnew {
    background-color: white;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 28vw;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border-color: black;
    border-style: solid;
}

    .Cardnew :hover {
        color: #6d6d6d;
    }

    .Cardnew h1 {
        font-size: 125%;
    }

    .Cardnew a {
        text-decoration: none;
        color: black;
        text-decoration-line: none;
        height: 30vw;
    }

    .Cardnew img {
        width: 15vw;
        height: 12vw;
        object-fit: cover;
        border-radius: 1vw 1vw 0 0;
    }

.info {
    margin: 0 1vw 1vw 1vw;
    font-weight:600;
}

    .info p {
        color: #474747;
        word-wrap: break-word;
        margin-top: 0vw;
        margin-bottom: 0vw ;
    }
.info p:last-child {
    max-height: 200px;
    min-height: 50px;
    margin-top: 0vw;
    
}







.desplegable img {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    line-height: 60px;
}
.desplegable label {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    line-height: 60px;
    
}

#checkdesplegable {
    display: none;
}
    /*El mas significa el hermano mas cercano*/
    #checkdesplegable:checked + .panel {
        right: 0px;
    }

.desplegable .panel {
    background-color: black;
    position: absolute;
    width: 150px;
    top: 5vw;
    right: -150px;
    /*Poner espacio entre el 100% y el 30 px*/
    height: calc(100% - 30px);
    /*transition tab tab*/
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    /*padding 10*/
}
.desplegable .panel h1 {
    color: #FFFFFF;
    text-align: center;
}

    .desplegable .panel ul {
        list-style: none;
        padding: 10px;
    }

        .desplegable .panel ul li {
            display: block;
        }

    .desplegable .panel a {
        color: white;
        display: block;
        line-height: 30px;
        font-size: 20px;
        text-decoration-line: none;
    }
        .desplegable .panel a:hover {
            color: #6d6d6d;
            line-height: 60px;
            font-size: 30px;
        }





.noticiacuerpo {
    display: flex;
    flex-direction: column;
}